$primary: #7f51d6;
$light: #ededed;
$secondary: #e1e1e1;
$danger: #db545a;
$dark: #1a1a1a;

$offcanvas-horizontal-width:        250px;

$carousel-indicator-width:           10px;
$carousel-indicator-height:          10px;
$carousel-control-opacity:           .7;
$carousel-control-hover-opacity:     1;


@import "node_modules/bootstrap/scss/bootstrap";

.padding-0 {
    margin-right: 10px;
    margin-left: 10px;
}

* {
    font-family: 'Poppins', sans-serif;
}

p {
    font-family: 'Roboto', sans-serif;
}

.center {
    width: auto;
    margin: 20px;
    border: none;
}


//Navbar
.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    background-image: url(./images/toggler.png);
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 0;
  }

.t:hover {
    fill: #db545a;
}


//Hero Section
.rowHero {
    width: 340px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
}
.borderH {
    margin-top: 20px;
    border-style: solid;
    border-bottom: #7f51d6;
    border-width: 13px;
}

.heroImg {
    max-width: 671px;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    object-fit: cover;
    float: right;
}

.heroParagraph {
    text-align: left;
}

@media screen and (max-width: 767px) {
    .hero {
        height: 990px;
        text-align: left;
    }
    .heroImg {
        height: 598px;
        width: 645px;

    }
    .rowHero {
        margin-left: 20px;
        width: 80%;
    }
}

@media screen and (min-width: 768px) {
    .hero {
        height: 562px;
    }
    .heroImg {
        position: absolute;
        height: 562px;
    }
    .heroParagraph {
        text-align: right;
    }
}

@media screen and (min-width: 992px) {
    .hero {
        height: 620px;
    }
    .heroImg {
        height: 620px;
        position: absolute;
    }
    .heroParagraph {
        margin-top: 115px;
    }
}

@media screen and (min-width: 1255px) {
    .hero {
        height: 620px;
    }
    .heroImg {
        position: relative;
        height: 620px;
    }
    .heroParagraph {
        margin-top: 70px;
    }
    .hHero {
        font-size: 60px;
    }
}

//Workout
.workout {
    width: 340px;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
}

.cardImg{
    object-fit: cover;
    width: 340px;
    height: 231px;
}

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

.fsH1 {
    font-size: 70px;
}

@media screen and (max-width: 575px) {
    .workoutCard1 {
        width: 320px;
        height: 160px;
    }
    .workoutCard2 {
        width: 320px;
        height: 230px;
        margin-top: 20px;
    }
    .cardImg{
        width: 340px;
        height: 231px;
    }
}


@media screen and (min-width: 576px) {
    .workout {
        width: 100%;
    }
    .cardImg{
        width: 540px;
        height: 384px;
    }
    .imgWrapper {
        width: 540px;
        height: 384px;
    }
    .workoutCard1 {
        width: 540px;
        height: 396px;
    }
    .workoutCard2 {
        width: 395px;
        height: 200px;
        margin-top: 20px;
    }
    .pCard1 {
        font-size: 95px;
    }
}

@media screen and (min-width: 768px) {
    .workout {
        width: 100%;
    }
    .cardImg{
        width: 345px;
        height: 246px;
    }
    .imgWrapper {
        margin-left: 15px;
        width: 345px;
        height: 246px;
    }
    .workoutCard1 {
        width: 375px;
        height: 560px;
    }
    .workoutCard2 {
        margin-left: 15px;
        width: 315px;
        height: 280px;
        margin-top: 0;
        margin-bottom: 34px;
    }
    .pCard1 {
        font-size: 80px;
    }
}

@media screen and (min-width: 992px) {
    .workout {
        width: 100%;
    }
    .cardImg{
        width: 455px;
        height: 300px;
    }
    .imgWrapper {
        width: 455px;
        height: 300px;
    }
    .workoutCard1 {
        width: 445px;
        height: 618px;
    }
    .workoutCard2 {
        margin-left: 15px;
        width: 425px;
        height: 288px;
        margin-top: 0;
        margin-bottom: 34px;
    }
    .pCard1 {
        font-size: 80px;
    }
}

@media screen and (min-width: 1200px) {
    .workout {
        width: 100%;
    }
    .cardImg{
        width: 555px;
        height: 406px;
    }
    .imgWrapper {
        width: 555px;
        height: 406px;
    }
    .workoutCard1 {
        width: 555px;
        height: 694px;
    }
    .workoutCard2 {
        margin-left: 15px;
        width: 451px;
        height: 228px;
        margin-top: 27px;
        margin-bottom: 34px;
    }
    .pCard1 {
        font-size: 100px;
    }
}



@media screen and (min-width:349px) {
    .workout {
        padding-top: 0px;
    }
}


//Ad 

@media screen and (max-width: 575px) {
    .textAd {
        font-size: 90px;
        margin-left: 50px;
    }
    .ad {
        height: 487px;
    }
}

@media screen and (min-width: 576px) {
    .textAd {
        font-size: 90px;
        margin-left: 50px;
    }
    .ad {
        height: 487px;
    }
}


@media screen and (min-width: 768px) {
    .textAd {
        font-size: 120px;
    }
    .ad {
        height: 642px;
    }
}


@media screen and (min-width: 1200px) {
    .textAd {
        font-size: 140px;
        margin-left: 60px;
    }
    .ad {
        height: 642px;
    }
}
//Carousel
.paragraphCarousel {
    font-size: 20px;
    line-height: 1.75;
}

.profileImg {
    width: 180px;
    height: 180px;
    border-radius: 0px;
    border-width: 10px;
    border-color: #7f51d6;
    border-style: solid;
}

.carousel-indicators [data-bs-target] {
    border-radius: 100%;
}

.carousel-control-next {
    color: #7f51d6;
    width: 50px;
    height: 50px;
    top: 50%;
    right: 10%;
    border-radius: 100%;
    border-width: 10px;
    background-color: #7f51d6;
    border-color: #7f51d6;
    border-style: solid;
}

.carousel-control-prev {
    color: #7f51d6;
    width: 50px;
    height: 50px;
    top: 50%;
    left: 10%;
    border-radius: 100%;
    border-width: 10px;
    background-color: #7f51d6;
    border-color: #7f51d6;
    border-style: solid;
}
@media screen and (min-width: 576px) {
    .paragraphCarousel {
        font-size: 20px;
        line-height: 1.75;
    }
}

@media screen and (min-width: 768px) {
    .paragraphCarousel {
        font-size: 30px;
        line-height: 1.75;
    }
}

@media screen and (min-width: 992px) {
    .paragraphCarousel {
        font-size: 30px;
        line-height: 1.75;
        max-width: 992px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 1200px) {
    .carousel-control-prev {
        margin-left: 200px;
    }
    .carousel-control-next {
        margin-right: 200px;
    }
}

//Team
.containerTeam {
    z-index: 2;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}
.cardTeam {
    z-index: 2;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.pillarHorizontal {
    position: absolute;
    background-color: #7f51d6;
    width: 100%;
    height: 150px;
    margin-top: 370px;
    z-index: 1;
}

.teamText {
    margin-left: 20px;
}
.teamImg {
    object-fit: cover;
    width: 320px;
    height: 288px;
    margin-top: 20px;
    z-index: 3;
}

.social-icon {
    font-size: 25px;
    padding: 10px;
    letter-spacing: 5px;
}

.pTeam {
    font-size: 21px;
}

@media screen and (max-width: 576px) {
    .teamText {
        margin-left: 0px;
    }
    .containerTeam {
        max-width: 340px;
    }
    .pillarHorizontal {
        margin-top: 380px;
    }
}
@media screen and (min-width: 576px) {
    .containerTeam {
        max-width: 576px;
    }
    .teamImg {
        width: 520px;
        height: 468px;
    }
    .pillarHorizontal {
        margin-top: 480px;
        height: 240px;
    }
    .teamH1 {
        font-size: 80px;
    }
    .teamImg.second {
        margin-top: 75px;
    }
    
    .teamImg.third {
        margin-top: 150px;
    }
}

@media screen and (min-width: 768px) {
    .containerTeam {
        max-width: 768px;
    }
    .teamImg {
        width: 207px;
        height: 198px;
    }
    .pillarHorizontal {
        margin-top: 440px;
        height: 60px;
    }
    .teamH1 {
        font-size: 80px;
    }
    .teamImg.second {
        margin-top: 50px;
    }
    
    .teamImg.third {
        margin-top: 100px;
    }
}

@media screen and (min-width: 992px) {
    .containerTeam {
        max-width: 992px;
    }
    .teamImg {
        width: 240px;
        height: 259px;
    }
    .pillarHorizontal {
        margin-top: 400px;
        height: 110px;
    }
    .teamImg.second {
        margin-top: 90px;
    }
    .teamImg.third {
        margin-top: 180px;
    }
}

@media screen and (min-width: 1200px) {
    .containerTeam {
        max-width: 1200px;
        height: 1000px;
    }
    .teamImg {
        width: 307px;
        height: 327px;
    }
    .pillarHorizontal {
        margin-top: 500px;
        height: 110px;
    }
    .teamImg.second {
        margin-top: 90px;
    }
    .teamImg.third {
        margin-top: 180px;
    }
}


//Features
.form-control {
    border: none;
}

.cardF {
    height: 385px;
    width: 340px;
    font-size: 18px;
}


//Gallerie
.pillar {
    position: absolute;
    background-color: #7f51d6;
    width: 260px;
    height: 2600px;
    margin-top: 15px;
    z-index: 1;
}
.row {
    z-index: 2;
}

.cardGallerie {
    background-color: white;
    width: 340px;
    height: 465.75px;
}

.paragraphGallerie2 {
    font-size: 20px;
}
.gallerieImg {
    width: 300px;
    height: 300px;
}
.gImg {
    width: 300px;
    height: 300px;
    object-fit: cover;
}


@media screen and (max-width: 575px) {
    .gallerieImgBody {
        text-align: center;
        margin-bottom: 15px;
    }
    .gImg {
        width: 340px;
        height: 341.5px;
    }
    .gallerieImg {
        width: 340px;
        height: 341.5px;
    }
    .gallerie {
        height: 2870px;
    }
    .pillar {
        width: 260px;
        height: 2710px;
        margin-top: 15px;
        z-index: 1;
    }
}

@media screen and (min-width: 576px) {
    .gallerieImgBody {
        text-align: center;
        margin-bottom: 15px;
    }
    .gImg {
        width: 505px;
        height: 513px;
    }
    .gallerieImg {
        width: 505px;
        height: 513px;
    }
    .gallerie {
        height: 3870px;
    }
    .pillar {
        width: 300px;
        height: 3710px;
        margin-top: 0px;
        z-index: 1;
        left: 80px;
    }
    .cardGallerie {
        position: relative;
        width: 435px;
        height: 435px;
        margin-left: 110px;
        top: -130px;
    }
}


@media screen and (min-width: 768px) {
    .gallerieImgBody {
        text-align: center;
        margin-bottom: 15px;
    }
    .gImg {
        width: 335px;
        height: 341px;
    }
    .gallerieImg {
        width: 335px;
        height: 341px;
    }
    .gallerie {
        height: 1670px;
    }
    .pillar {
        width: 300px;
        height: 1310px;
        margin-top: 0px;
        z-index: 1;
        left: 180px;
    }
    .cardGallerie {
        position: relative;
        width: 435px;
        height: 435px;
        left: 95px;
        top: -110px;
    }
}

@media screen and (min-width: 992px) {
    .gallerieImgBody {
        text-align: center;
        margin-bottom: 15px;
    }
    .gImg {
        width: 291px;
        height: 301px;
    }
    .gallerieImg {
        width: 291px;
        height: 301px;
    }
    .gallerie {
        height: 1240px;
    }
    .pillar {
        width: 300px;
        height: 910px;
        margin-top: 0px;
        z-index: 1;
        left: 150px;
    }
    .cardGallerie {
        position: relative;
        width: 435px;
        height: 435px;
        left: 210px;
        top: -110px;
    }
}

@media screen and (min-width: 1200px) {
    .gallerieImgBody {
        text-align: center;
        margin-bottom: 15px;
    }
    .gImg {
        width: 327.666px;
        height: 337.5px;
    }
    .gallerieImg {
        width: 327.666px;
        height: 337.5px;;
    }
    .gallerie {
        height: 1240px;
    }
    .pillar {
        width: 351px;
        height: 910px;
        margin-top: 0px;
        z-index: 1;
        left: 150px;
    }
    .cardGallerie {
        position: relative;
        width: 497px;
        height: 411px;
        left: 290px;
        top: -110px;
    }
    .centerG {
        height: 100%;
        margin: auto;
        width: 95%;
    }
}

@media screen and (min-width: 1400px) {
    .gallerieImgBody {
        text-align: justify;
        margin-bottom: 15px;
    }
    .gImg {
        width: 317.666px;
        height: 327.5px;
    }
    .gallerieImg {
        width: 317.666px;
        height: 327.5px;;
    }
    .gallerie {
        height: 1210px;
    }
    .pillar {
        width: 100%;
        height: 410px;
        margin-top: 200px;
        z-index: 1;
    }
    .cardGallerie {
        position: relative;
        width: 497px;
        height: 411px;
        left: 270px;
        top: -140px;
    }
    .centerG {
        height: 80%;
        margin: auto;
        width: 80%;
    }
}

// @media screen and (max-width: 575px) {
//     .cardSize {
//         width: 340px;
//         height: 341,5px;
//     }
//     .carouselGallerie {
//         height: 2770px;
//     }
//     .cardGallerie {
//         background-color: white;
//         margin-left: auto;
//         margin-right: auto;
//     }
//     .X {
//         text-align: center;
//     }
// }
// @media screen and (min-width: 576px) {
//     .cardSize {
//         width: 505px;
//         height: 514px;
//     }
//     .cardGallerie {
//         position: relative;
//         background-color: white;
//         width: 435px;
//         height: 434px;
//         top: -130px;
//         right: -100px;
//     }
//     .carouselGallerie {
//         height: 3814px;
//         width: 100%;
//     }
//     .paragraphGallerie2 {
//         font-size: 20px;
//     }
//     .pillar {
//         position: absolute;
//         width: 330px;
//         height: 3640px;
//         margin-top: 15px;
//         left: 90px;
//     }
//     .X {
//         text-align: start;
//         margin-left: 17px;
//     }
// }

// @media screen and (min-width: 768px) {
//     .paragraphGallerie2 {
//         font-size: 25px;
//     }
//     .cardSize {
//         width: 335px;
//         height: 341px;
//     }
//     .cardGallerie {
//         position: relative;
//         background-color: white;
//         width: 435px;
//         height: 434px;
//         top: -100px;
//         right: -310px;
//     }
//     .carouselGallerie {
//         height: 1690px;
//         width: 100%;

//     }
//     .paragraphGallerie2 {
//         font-size: 20px;
//     }
//     .pillar {
//         position: absolute;
//         width: 330px;
//         height: 1299px;
//         margin-top: 15px;
//         left: 160px;
//     }
//     .x1 {
//         text-align: end;
//     }
//     .x3 {
//         text-align: end;
//     }
//     .x5 {
//         text-align: end;
//     }
//     .x2 {
//         text-align: start;
//     }
//     .x4 {
//         text-align: start;
//     }
//     .x6 {
//         text-align: start;
//     }
// }


// @media screen and (min-width: 992px) {
//     .cardSize {
//         position: relative;
//         display: flex;
//         flex-direction: column;
//     }
//     .gallerieBody {
//         display: flex;
//         justify-content: center;
//         align-items: center;
//     }

//     .cardSize {
//         width: 291px;
//         height: 301px;
//     }
//     .cardGallerie {
//         position: relative;
//         background-color: white;
//         width: 435px;
//         height: 434px;
//         top: -100px;
//         right: -450px;
//     }
//     .carouselGallerie {
//         height: 1283px;
//         max-width: 1200px;
//     }
//     .paragraphGallerie2 {
//         font-size: 20px;
//     }
//     .pillar {
//         position: absolute;
//         width: 330px;
//         height: 962px;
//         margin-top: 15px;
//         left: 200px;
//     }
//     .x1 {
//         text-align: end;
//     }
//     .x2 {
//         text-align: center;
//     }
//     .x3 {
//         text-align: start;
//     }
//     .x4 {
//         text-align: end;
//     }
//     .x5 {
//         text-align: center;
//     }
//     .x6 {
//         text-align: start;
//     }
// }


// @media screen and (min-width: 1200px) {
//     .cardSize {
//         width: 291px;
//         height: 301px;
//     }
//     .cardGallerie {
//         position: relative;
//         background-color: white;
//         width: 435px;
//         height: 434px;
//         top: -100px;
//         right: -450px;
//     }
//     .carouselGallerie {
//         height: 1283px;
//         max-width: 100%;
//     }
//     .paragraphGallerie2 {
//         font-size: 20px;
//     }
//     .pillar {
//         position: absolute;
//         width: 351px;
//         height: 962px;
//         margin-top: 15px;
//         left: 580px;
//     }
//     .x1 {

//     }
//     .x2 {

//     }
//     .x3 {

//     }
//     .x4 {

//     }
//     .x5 {

//     }
//     .x6 {

//     }
// }
