$primary: #7f51d6;
$light: #ededed;
$secondary: #e1e1e1;
$danger: #db545a;
$offcanvas-horizontal-width:        250px;



@import "node_modules/bootstrap/scss/bootstrap";

* {
    font-family: 'Poppins', sans-serif;
}

.center {
    width: auto;
    margin: 20px;
}


//Navbar
.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    background-image: url(./images/toggler.png);
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 0;
  }

.t:hover {
    fill: #db545a;
}


//Hero Section
.hero {
    height: 100%;
}

.borderH {
    margin-top: 20px;
    border-style: solid;
    border-bottom: #7f51d6;
    border-width: 13px;
}

.heroImg {
    background-image: url(/images/bg-hero.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center right;
    object-fit: contain;
}

